body {
    background-color: #F5F5F5;
    color: #2F4F4F;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 20px;
    text-align: justify;
    letter-spacing: auto;
    text-align: center;
}
h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}S